# Ignore build directories
bin/
obj/

# Ignore NuGet packages
*.nupkg
*.snupkg

# Ignore build logs
*.log

# Ignore compiled files
*.dll
*.exe
*.pdb

# Ignore VS and Rider files
.vs/
.idea/

*.user
*.suo
*.userosscache
*.userprefs



